<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <header>
    <ul class="menu flex row bg-blue al-center jus-center gap-20 pd-10 col-gray">
      <li><a class="<%= (title==="Home page")? 'selected' : '' %>" href="/">Home</a></li>
      <li><a class="<%= (title==="Liste d'articles")? 'selected' : '' %>" href="/articles">Articles</a></li>
      <li><a class="<%= (title==="Contact")? 'selected' : '' %>" href="/contact">Contact</a></li>
      <li><a class="<%= (title==="About")? 'selected' : '' %>"href="/about">About</a></li>
    </ul>
  </header>

  <main class="flex column al-center">