<%- include("./partials/header.ejs", {title: "Liste d'articles"}) %>

<a class="btn bg-blue col-white mg-20" href="/article/add">Ajouter un article</a>
<h1>List des Articles</h1>

<ul class="flex column gap-10">
  <% for (let article of articles){ %>

  <li>
    <a class="article-card flex row gap-10 box-shad-click pd-20 al-center" href="<%=`/articles/${article.slug}`%>">
      <img src="<%= article.urlToImage %>" alt="article image">
      <div class="flex column gap-5">
        <p><%= article.title %></p>
        <p class="small-text">Publié à <%= article.publishedAt %></p>
      </div>
    </a>
  </li>

  <% } %>
</ul>

<%- include("./partials/footer.ejs") %>
